#board {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 500px;
    height: 500px;
    border: 10px dotted #000000;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
    height: 160px;
    width: 160px;
}

.playerOne {
    position: relative;
    height: 80px;
    width: 96px;  
  }

  .playerOne:before,
  .playerOne:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: black;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .playerOne:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}


.playerTwo {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
  }
  .playerTwo:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  .playerTwo:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }

  #results {
    position: relative;
  }


#reset{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: black;
    }
#reset:hover{
    color:#000000;
    background-color:#FFFFFF;
    }